body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: black;
}

.wrapper {
  background: #000000;
}

.headerImage {
  display: flex;
  justify-content: center;
}

.headerImage img {
  max-height: 700px;
}

.wrapper .controls .visualizer{
  display: none;
  justify-content: center;
  height: 75px;
  width: 100%;
  margin-top: 30px;
}

.bottomSection {
  position: absolute;
  bottom: -50px;
  width: 100%;
  padding-bottom: 20px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls button {
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-position: center;
  padding-top: 100px;
  font-size: 0.8rem;
}

.clipButtons button {
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-position: center;
  padding-top: 100px;
  font-size: 0.8rem;
}

.record {
  background: url(assets/record_button.svg);
}
.record:active {
  background: url(assets/record_button_depressed.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.stop {
  background: url(assets/stop_button.svg);
  display: none;
}
.stop:active {
  background: url(assets/stop_button_depressed.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.upload {
  background: url(assets/upload_button.svg);
}
.upload:active {
  background: url(assets/upload_button_depressed.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.delete {
  background: url(assets/delete_button.svg);
}
.delete:active {
  background: url(assets/delete_button_depressed.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.clipProgress {
  display: none;
  width: 100%;
  background-color: white;
  position:relative;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: red;
}


button {
  font-size: 1rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  /*transition: all 0.2s; */
  padding: 0.5rem;
}


/*
button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}
*/

/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */

.clip {
  display: none;
  width: 100%;
}

audio {
  width: 100%;
  margin: 1rem auto 0.5rem;
}

.clipButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

input[type=checkbox] {
   position: absolute;
   top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}
