.home{

}

body {
  background-color: black;
}

.wrapper{
  display: grid;
  background: #000000;
}

header{
  display: flex;
  justify-content: center;
		}

  main{
    margin:auto;
    display: flex;
    justify-content: center;
  }

  label{
    color:white;
    font-size: 4vh;
  }

  #offices{
   font-size:20px;
   position:relative;
   top:-8px;
   left:8px;
  }

  footer{
    background-color: black;
    margin: auto;
    max-width: 100%;
    }
    #startButton{
     width:auto !important;
     height:auto !important;
     min-width:200px;
     border-width: 7px;
    }
