.home{

}

body {
  background-color: black;
}

.wrapper{
  display: grid;
  background: black;

}

header{
  display: flex;
  justify-content: center;
		}
    #wrapper h1{
     font-family:'TimesNewRoman','Times New Roman',Times,Baskerville,Georgia,serif;
     font-weight:200;
     font-size: 26px;
     text-align: center;
     position:relative;
     top:-100px;
     color:#ffffff !important;
    }

  main{
    margin:auto;
    display: flex;
    justify-content: center;
  }

  #offices{
   font-size:20px;
   font-family: TimesNewRoman;
   position:relative;
  top:-100px;
  text-align: center;
  }

  footer{

    margin: auto;
    max-width: 100%;
    position:relative;
    top:-100px;
    }
    #startButton{
     width:auto !important;
     height:auto !important;
     min-width:200px;

    }
